meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
title document
script(src="https://use.fontawesome.com/9aee0c265f.js")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
script(src="js/jquery.shuffleLetters.js")
script(src="js/built.js")
//- script(src="js/jquery.js")
//- script(src="js/queryLoader.js")
link(rel="shortcut icon" type="image/x-icon" href="img/favicon.ico")
style.
	.preload-overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: #000;
		z-index: 1;
		top: 0;
		left: 0;
	}
	.QOverlay {
		background-color: #000000;
		z-index: 9999;
	}
	
	.QLoader {
		background-color: #CCCCCC;
		height: 1px;
	}
	
	.QAmt {
		color:#333333;
		font-size:60px;
		font-weight:bold;
		line-height:50px;
		height:50px;
		width:100px;
		margin:-60px 0 0 -50px;
	}

<!--[if lte IE 7]>
	link(rel="stylesheet" href="css/ie-crutch.css")
	script(src="js-crutch.js")
<![endif]-->
